<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "ошибки") %>
        Услуга не создана, заполните соответсвующие поля:
      </h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li>*<%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :name, "Название услуги" %><br>
    <%= f.text_field :name %>


    <%= f.label :comment, "Описание услуги" %><br>
    <%= f.text_area :comment %>


    <%= f.label :categori_id, "Категория услуги"%><br>
    <%= f.collection_select(:categori_id, @categori_all, :id, :name) %>

    <%= f.label :discount, "Скидка" %><br>
    <%= f.number_field :discount %>

    <%= f.submit "Добавить", class: "btn" %>
    <%= link_to 'Назад', services_path, class: "btn" %>

<% end %>
