<p id="notice"><%= notice %></p>

<p>
  <strong>Название услуги:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Описание услуги:</strong>
  <%= @service.comment %>
</p>
<p>
  <strong>Категория услуги:</strong>
  <%= @service.categori.name %>
</p>
<p>
  <strong>Скидка:</strong>
  <%= @service.discount %>
</p>
<%= link_to 'Редактировать', edit_service_path(@service) , class:"btn"%> |
<%= link_to 'Назад', services_path, class:"btn"%>

