
<%= @assignment.user.name %><br/>
<%= @assignment.succinctly %><br/>
<%= @assignment.description %><br/>

<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :report %><br>
    <%= f.text_area :report %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, %w[Создано Просмотрено Выполняется Завершено], {}, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :time_word %><br>
    <%= f.number_field :time_word, :step => 0.1 %>
  </div>
  <div class="field">
    <%= f.label :runtime %><br>
    <%= f.number_field :runtime, :step => 0.1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
