<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @assignment.user.name %>
</p>

<p>
  <strong>Заказ:</strong>
  <%= @assignment.status_of_implementation.order.name %>
</p>

<p>
  <strong>succinctly:</strong>
    <%= @assignment.succinctly %>
  </p>

<p>
    <strong>description:</strong>
    <%= @assignment.description %>
  </p>

<p>
    <strong>Assignment status</strong>
    <%= @assignment.status  %>
</p>

<p>
  <strong>Time word:</strong>
  <%= @assignment.time_word %>
</p>
<p>
  <strong>Время выполнения:</strong>
    <%= @assignment.runtime %>
</p>
<p>
  <strong>Assignment comment:</strong>
  <%= @assignment.report %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
