<%= form_for(@table_service_order) do |f| %>
  <% if @table_service_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_service_order.errors.count, "error") %> prohibited this table_service_order from being saved:</h2>

      <ul>
      <% @table_service_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.collection_select(:order_id, @order_all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.collection_select(:service_id, @service_all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :price_fact %><br>
    <%= f.text_field :price_fact %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
