<p id="notice"><%= notice %></p>

<h1>Listing Table Service Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Service</th>
      <th>Price fact</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_service_orders.each do |table_service_order| %>
      <tr>
        <td><%= table_service_order.order_id %></td>
        <td><%= table_service_order.service_id %></td>
        <td><%= table_service_order.price_fact %></td>
        <td><%= table_service_order.info %></td>
        <td><%= link_to 'Show', table_service_order %></td>
        <td><%= link_to 'Edit', edit_table_service_order_path(table_service_order) %></td>
        <td><%= link_to 'Destroy', table_service_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table service order', new_table_service_order_path %>
