<div class="fields">
  <div class="field">
    <%= f.label :user_id, "Исполнитель" %><br>
    <%= f.collection_select(:user_id, @user_all, :id, :name ) %>
  </div>

  <div class="field">
    <%= f.label :succinctly %><br>
    <%= f.text_field :succinctly %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <%= f.select :status, %w[Создано Просмотрено Выполняется Завершено], {}, class: 'hidden_select'%>
  <div class="field">
    <%= f.label :time_word %><br>
    <%= f.number_field :time_word, :step => 0.1 %>
  </div>
  <%= link_to_remove_fields "Удалить", f %>
</div>