<%= form_for(@status_of_implementation) do |f| %>
  <% if @status_of_implementation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_of_implementation.errors.count, "error") %> prohibited this status_of_implementation from being saved:</h2>

      <ul>
      <% @status_of_implementation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




    <%= f.label :order_id , "Заказ" %><br>
    <%= f.collection_select(:order_id, @order_all, :id, :name, include_blank: 'Выберете заказ') %>


    <%= f.label :date_status, "Дата до завершения задачи" %><br>
    <%= f.text_field :date_status, class: "datepicker_date" %>

    <p class="razpred">Рапределение заданий</p>
    <%= f.fields_for :assignments do |builder| %>
        <%= render "assignment_fields", :f => builder %>
        <% end %>
    <p><%= link_to_add_fields "Добавить задачу", f, :assignments %></p>


    <p class="tanya"><%= f.check_box :status %>
    <%= f.label :status, "Выполнено" %><br></p>

    <%= f.submit "Добавить", class: "btn"%>
    <%= link_to 'Назад', status_of_implementations_path, class: "btn" %>
<% end %>
<script type="text/javascript">
    $(function() {
              $( ".datepicker_date" ).datepicker();
          });
</script>