<%= form_for(@status_of_implementation) do |f| %>
  <% if @status_of_implementation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_of_implementation.errors.count, "error") %> prohibited this status_of_implementation from being saved:</h2>

      <ul>
      <% @status_of_implementation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.collection_select(:order_id, @order_all, :id, :name, include_blank: 'Выберете заказ') %>
  </div>
  <div class="field">
    <%= f.label :date_status %><br>
    <%= f.text_field :date_status, class: "datepicker_date" %>
  </div>
  Рапределение заданий
    <%= f.fields_for :assignments do |builder| %>
      <%= render "assignment_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Добавить задачу", f, :assignments %></p>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
$(function() {
      $( ".datepicker_date" ).datepicker();
  });
</script>
