<%= form_for(@status_of_implementation) do |f| %>
  <% if @status_of_implementation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_of_implementation.errors.count, "error") %> prohibited this status_of_implementation from being saved:</h2>

      <ul>
      <% @status_of_implementation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :date_status %><br>
    <%= f.datetime_select :date_status %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
