<%= form_for(@graf) do |f| %>
  <% if @graf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graf.errors.count, "error") %> prohibited this graf from being saved:</h2>

      <ul>
      <% @graf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :date_start, "Дата начала показа"%><br>
    <%= f.text_field :date_start, class: "datepicker_data" %>

    <%= f.label :date_end ,"Дата окончание показа"%><br>
    <%= f.text_field :date_end, class: "datepicker_data" %>

    <%= f.label :order_id, "Заказ" %><br>
    <%= f.collection_select(:order_id, @order_all, :id, :name) %>

    <%= f.submit %>

<% end %>
<script>
      $(function() {
              $( ".datepicker_data" ).datepicker();
          });
</script>