<%= form_for(@graf) do |f| %>
  <% if @graf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graf.errors.count, "error") %> prohibited this graf from being saved:</h2>

      <ul>
      <% @graf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :date_start %><br>
    <%= f.date_select :date_start %>

    <%= f.label :date_end %><br>
    <%= f.date_select :date_end %>

    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>

    <%= f.submit %>

<% end %>
