<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :name, "Название заказа"%><br>
    <%= f.text_field :name %>


    <%= f.label :date_order, "Дата заказа" %><br>
    <%= f.text_field :date_order, id:"datepicker"%>


    <%= f.label :client_id , "Клиента"%><br>
    <%= f.collection_select(:client_id, @client_all, :id, :name ) %>

    <%= label :categori_id, "Категория услуги"%><br>
    <%= collection_select(nil ,:categori_id, @categori_all, :id, :name, include_blank: 'all') %>

    <%= f.label :service_id, "Услуги"%><br>
    <%= f.text_field :service_ids, 'data-pre' => @order.services.map{|t| {id: t.id, name: "#{t.name} (#{t.categori.name})" } }.to_json %>

    <%= f.label :info, "Дополнительная информация" %><br>
    <%= f.text_field :info %>

    <%= f.submit %>

<% end %>
<script type="text/javascript">
    $(document).ready(function() {
               $("#order_service_ids").tokenInput("/services/get_services_grup.json", {
            crossDomain: false,
            prePopulate: $("#order_service_ids").data("pre")
        });
    });


</script>