<div class="fields">
  <%= f.label :date_start, "С" %><br>
  <%= f.text_field :date_start %>
  <%= f.label :date_end, "До" %><br>
  <%= f.text_field :date_end %>
  <%= link_to_remove_fields "Удалить", f %>
</div>