<p id="notice"><%= notice %></p>

<p>
  <strong>Название заказа:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Дата заказа:</strong>
  <%= @order.date_order.to_date %>
</p>

<p>
  <strong>Клиент:</strong>
  <%= @order.client.name %>
</p>

<p>
   <strong>Услуги:</strong>
   <br/>
   <% @order.services.each do |service| %>
       	<span>
 		<%= service.name %></span><br/>
        <% end %>
  </p>
<p>
   <strong>Дополнительная информация:</strong>
    <%= @order.info %>
</p>
<%= link_to 'Редактировать', edit_order_path(@order),class: "btn" %> |
<%= link_to 'Назад',  orders_path, class: "btn" %>