<% if signed_in? %><% provide(:title, 'Создание заказа') %>
    <% provide(:title, 'Просмотр заказа') %>
    <h1 class="zagolovki" >Просмотр заказа</h1>
    <p>
      <strong>Название заказа:</strong>
      <%= @order.name %>
    </p>

    <p>
      <strong>Дата заказа:</strong>
      <%= @order.date_order%><%#.to_date %>
    </p>

    <p>
      <strong>Клиент:</strong>
      <%= @order.client.name %>
    </p>
    <p>
      <strong>Цена:</strong>
      <%= @order.price %>
    </p>

    <p>
      <strong>Услуги:</strong>
      <br/>
      <% @order.services.each do |service| %>
       	<span>
 		<%= service.name %></span><br/>
      <% end %>
    </p>
    <p>
      <strong>Дополнительная информация:</strong>
      <%= @order.info %>
    </p>
    <%= link_to 'Редактировать', edit_order_path(@order),class: "btn" %> |
    <%= link_to 'Назад',  orders_path, class: "btn" %>
<% else %>
    <h1>Добро пожаловать</h1>

    <h2>
      Программа предозначена для удобной работы сотрудников компании
    </h2>
    <%= link_to "Зарегистрироваться", signup_path , class: "btn btn-large btn-primary" %> |
    <%= link_to "Войти", signin_path , class: "btn btn-large btn-primary" %>
<% end %>
