<% provide(:title, 'Просмотр цен') %>
<h1 class="zagolovki" >Просмотр цен</h1>
<p>
  <strong>Услуга:</strong>
  <%= @price.service.name %>
</p>
<p>
  <strong>Цена:</strong>
  <%= @price.value %>
</p>
<p>
  <strong>Дата:</strong>
  <%= @price.data_price.to_date %>
</p>
<%= link_to 'Редактировать', edit_price_path(@price) , class:"btn"%> |
<%= link_to 'Назад', prices_path, class:"btn"%>
