<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> Не создано, заполните соответсвующие поля:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :user_id , "Сотрудник" %><br>
    <%= f.collection_select(:user_id, @user_all, :id, :name) %>

    <%= f.label :k_indactivities_id, "Деятельность" %><br>
    <%= f.collection_select(:k_indactivities_id, @k_indactivities_all, :id, :name) %>

    <%= f.label :level, "Уровень" %><br>
    <%= f.number_field :level %>

    <%= f.submit "Добавить" , class:"btn"%>

<% end %>
