<% if signed_in? %><p id="notice"><%= notice %></p>

    <p>
      <strong>Сотрудник:</strong>
      <%= @activity.users.name %>
    </p>

    <p>
      <strong>Умение:</strong>
      <%= @activity.k_indactivities.name %>
    </p>

    <p>
      <strong>Уровень:</strong>
      <%= @activity.level %>
    </p>

    <%= link_to 'Редактировать', edit_activity_path(@activity), class:"btn" %> |
    <%= link_to 'Назад', activities_path, class:"btn" %>

<%end %>